
/* MOBILE STYLES */
@media only screen and (max-width: 767px){
	
}

/* TABLET STYLES */
@media only screen and (min-width: 768px) and (max-width: 977px){
@font-face {
    font-family: 'BebasNeueRegular';
    src: url(../fonts/BebasNeue-webfont.eot);
    src: url(../fonts/BebasNeue-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/BebasNeue-webfont.woff) format('woff'),
         url(../fonts/BebasNeue-webfont.ttf) format('truetype'),
         url(../fonts/BebasNeue-webfont.svg#BebasNeueRegular) format('svg');
    font-weight: normal;
    font-style: normal;
}	
	


/*///////////////Splash page styles//////////////////////////*/

#splash{
	background-image:url(../images/cartographer.png);
}
#BigLogo{
	background-image:url(../images/bigLogo.png);
	width:292px;
	height:332px;
	margin-top:100px;
	margin-left:300px;
}

.splashp{
	font-size:20px;
	font-family:'BebasNeueRegular';
	margin-left:260px;
	margin-top:40px;
}
#button{
	
	height:45px;
	width:120px;
	float:right;
	margin-top:40px;
	margin-right:250px;
}


/*////////////////main page styles///////////////////////////*/

#leftbar{
	background-image:url(../images/leftbar.png);
	height:1002px;
	width:92px;
	float:left;
	
}
#hoytlogo{
	background-image:url(../images/hoytlogo.png);
	height:75px;
	width:66px;
	float:left;
	margin-top:20px;
	margin-left:10px;
	}
#line{
	background-image:url(../images/line.png);
	height:2px;
	width:78px;
	float:left;
	margin-top:30px;
	margin-left:5px;
}
#menu{
	background-image:url(../images/menubutton.png);
	height:13px;
	width:25px;
	float:left;
	margin-top:30px;
	margin-left:30px;
}
#Anav{
	background-image:url(../images/Anav.png);
	height:45px;
	width:38px;
	float:left;
	margin-top:30px;
	margin-left:25px;
}
#Bnav{
	background-image:url(../images/Bnav.png);
	height:45px;
	width:38px;
	float:left;
	margin-top:30px;
	margin-left:25px;
}
#Cnav{
	background-image:url(../images/Cnav.png);
	height:37px;
	width:37px;
	float:left;
	margin-top:30px;
	margin-left:25px;
}
#Dnav{
	background-image:url(../images/Dnav.png);
	height:37px;
	width:37px;
	float:left;
	margin-top:30px;
	margin-left:25px;
}
#Enav{
	background-image:url(../images/Enav.png);
	height:37px;
	width:37px;
	float:left;
	margin-top:30px;
	margin-left:25px;
}
#menuslider{
	background-color:rgba(18, 18, 17, .8);
	height:1002px;
	width:350px;
	float:left;
	margin-left:-1px;
}
#menuline1{
	background-image:url(../images/menuline.png);
	width:200px;
	height:2px;
	margin-left:50px;
	float:left;
	margin-top:20px;
}
#menuline2{
	background-image:url(../images/menuline.png);
	width:200px;
	height:2px;
	margin-left:50px;
	float:left;
	margin-top:30px;
}
#menuline3{
	background-image:url(../images/menuline.png);
	width:200px;
	height:2px;
	margin-left:50px;
	float:left;
	margin-top:20px;
}
#menuline4{
	background-image:url(../images/menuline.png);
	width:200px;
	height:2px;
	margin-left:50px;
	float:left;
	margin-top:20px;
}
#menuline5{
	background-image:url(../images/menuline.png);
	width:200px;
	height:2px;
	margin-left:50px;
	float:left;
	margin-top:25px;
}
#menuline6{
	background-image:url(../images/menuline.png);
	width:200px;
	height:2px;
	margin-left:50px;
	float:left;
	margin-top:30px;
}
h1{
	font-family:'BebasNeueRegular';
	font-size:30px;
	margin-top:150px;
	margin-left:35px;
	color:#fff9d0;
}
h2, h3, h4, h5, h6{
	font-family:'BebasNeueRegular';
	color:#fff9d0;
	margin-left:40px;
	font-size:20px;
}
h2{
	margin-top:55px;
}
h3{
	margin-top:70px;
}
h4{
	margin-top:55px;
}
h5{
	margin-top:50px;
}
h6{
	margin-top:50px;
}
h7{
	font-size:18px;
	font-family:'BebasNeueRegular';
	color:#474646;
	
}
h8{
	font-size:11px;
	
	color:#474646;
}
p{
	color:#fff9d0;
	margin-top:10px;
	margin-left:40px;
	font-size:14px;
}

#googleMap{
	position:absolute;
	z-index:-1;
}
#bottombar{
	background-image:url(../images/bottombar.jpg);
	width:100%;
	height:35px;
	margin-bottom:0px;
	float:left;
}





.clear{
	clear:both;
}
}


/* DESKTOP STYLES */
@media only screen and (min-width: 978px){
	
	
/*HEADER STYLES*/

	
	
	
	
	
}