/* FONTS */
@font-face {
    font-family: 'BebasNeueRegular';
    src: url(../fonts/BebasNeue-webfont.eot);
    src: url(../fonts/BebasNeue-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/BebasNeue-webfont.woff) format('woff'),
         url(../fonts/BebasNeue-webfont.ttf) format('truetype'),
         url(../fonts/BebasNeue-webfont.svg#BebasNeueRegular) format('svg');
    font-weight: normal;
    font-style: normal;

}
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);

a{
	text-decoration:none;
}



	




#header{
	background-color:#FFF;
	height:120px;
	width:100%;
	box-shadow: 1px 1px 1px #CCC;
	position:fixed;
	z-index:9999;
	opacity:0.97;
}



#selflogo{
	height:36px;
	width:40px;
	margin-top:40px;
	margin-left:40px;
	float:left;
	
}



#nav{
	float:right;
	margin-right:20px;
	margin-top:60px;
}



#nav li{
	float:left;
	margin-left:20px;
	font-size:18px;
	color:#838080;
	font-family:'BebasNeueRegular';
}



#nav a{
	text-decoration:none;
	color:#838080;
}





   
    
   
    
#FMA{
	/*position:relative;*/
	width:100%;
	position:fixed;
	z-index:-1;
}









video{
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
}




#greetingcircle{
	background-image:url(../images/greetcircle8.png);
	width:39%;
	height:456px;
	margin-top:200px;
	margin-bottom: 35px;
	
	margin-left:auto;
	margin-right:auto;
	background-repeat:no-repeat;
}





#gallery{
	width:100%;
	float:left;
	background-image:url(../images/fabric_plaid.png);
	height:1030px;
	box-shadow: 1px 1px 1px #666;
	
	
}









/*GALLERY IDS*/




.dirtybirdthumb{
	background-image:url(../images/gallery/dirtybirdthumb.jpg);
	width:306px;
	height:306px;
	
	
	
}


.questlinethumb{
	background-image:url(../images/gallery/questlinethumb.jpg);
	width:306px;
	height:306px;
}



.nektarthumb{
	background-image:url(../images/gallery/nektarthumb.jpg);
	width:306px;
	height:306px;
}



.selfpromothumb{
	background-image:url(../images/gallery/selfpromothumb.jpg);
	width:306px;
	height:306px;
}



.birdpaintthumb{
	background-image:url(../images/gallery/birdpainthumb.jpg);
	width:306px;
	height:306px;
	
	
}



.mileuthumb{
	background-image:url(../images/gallery/mileuthumb.jpg);
	width:306px;
	height:306px;
}



.smartshopthumb{
	background-image:url(../images/gallery/smartshoppingthumb.jpg);
	width:306px;
	height:306px;
}




.heathersitethumb{
	background-image:url(../images/gallery/heathersitethumb.jpg);
	width:306px;
	height:306px;
}



.playworksthumb{
	background-image:url(../images/gallery/playworksthumb.jpg);
	width:306px;
	height:306px;
}



.pinkbackground{
	height:306px;
	width:306px;
	-webkit-opacity: 0.5;
	-moz-opacity: 0.5;
	opacity: 0.5;
	background-color:#ffa47c;
}



#thumbnails li{
	
	float:left;
	margin-right:20px;
	margin-top:20px;
	border:2px solid #809190;
	
}

#thumbnails{
	width:978px;
	margin-left:auto;
	margin-right:auto;
}




#thumbnails a{
	display: block;
	height:306px;
	width:306px;
	overflow:hidden;
	position:relative;

}

	

.clickhere{
	width:208px;
	height:208px;
	background-image:url(../images/gallery/takealook.png);
	margin-left:45px;
	margin-top:20px;
	position: absolute;
	background-size:contain;
	background-repeat:no-repeat;
	cursor: default;
}



.clickhere p{
		font-family:'BebasNeueRegular';
		font-size:30px;
		color:#474747;
		text-decoration:none;
		text-align:center;
		margin-left:45px;
		margin-right:0px;
		margin-top:90px;
		
		text-shadow:  
			0 0 1px #fff, 
			0 1px 2px rgba(0,0,0,0.3);
	
}



.clickhere p:hover{
	font-family:'BebasNeueRegular';
	font-size:30px;
	color:#8accba;
}


#thumbnails .rowEnd{
	margin-right:0px;
}




#photoholder{

	
}


#mephoto{
	background-image:url(../images/mephoto.jpg);
	width:100%;
	height:500px;
   	background-repeat:no-repeat;
	overflow:hidden;
	background-attachment:fixed;
	background-position:bottom;
	background-size:100%;
	
	
}



/*FOOTER STYLES DESKTOP*/



#footer{
	background-image:url(../images/footer/footer.png);
	height:572px;
	width:100%;
	margin-bottom:0px;
	padding-top:30px;
	margin-top:-15px;
	
	/*position:absolute;*/
	
	
	
	
}



#backtotop{
	
	width:72px ;
	position:relative;
	float:right;
	margin-right:20px;

	
}



#socialicons{
	margin-top:10px;
	width:450px;
	background-position:center;
	margin-left:440px;
}



#socialicons li{
	float:left;
	margin-left:15px;
	height:59px;
	width:58px;
	
}



#socialicons .rowEnd{
	margin-right:0px;
}



#bottomline{
	background-image:url(../images/footer/bottomline.png);
	height:1px;
	margin-top:100px;
	background-position:center center;
	background-repeat:no-repeat;
}



#aboutContainer{
	margin-left:auto;
	margin-right:auto;
}



.footerHeading1{
	font-size:26px;
	color:#7b7673;
	font-family:'BebasNeueRegular';
	text-align:center;
	background-image:url(../images/aboutmeline.png);
	background-position:center center;
	background-repeat:no-repeat;
	margin-top:70px;
	
	text-shadow:  
			0 0 1px #333, 
			0 1px 1px rgba(0,0,0,0.3);
}



.footerHeading2{
	font-size:26px;
	color:#7b7673;
	font-family:'BebasNeueRegular';
	text-align:center;
	background-image:url(../images/aboutmeline.png);
	background-position:center center;
	background-repeat:no-repeat;
	margin-top:70px;
}



#paragraph{
	margin-left:auto;
	margin-right:auto;
	width:500px;
}



p{
	font-size:14px;
	font-family:'PT Sans Narrow';
	color:#999898;
	margin-left:auto;
	margin-right:auto;
	float:left;	
	margin-top:40px;
}



h3{
	font-size:20.42px;
	color:#7b7673;
	font-family:'BebasNeueRegular';
	text-align:center;
	margin-left:2%;
	margin-right:2%;
	margin-top:20px;
	
	text-shadow:  
			0 0 1px #333, 
			0 1px 1px rgba(0,0,0,0.3);
}




.phonenumber{
	float:right;
	font-size:14px;
	font-family:'PT Sans Narrow';
	margin-left:10px;
	margin-top:0px;
	text-decoration:none;
}



.emailaddress{
	float:right;
	font-size:14px;
	font-family:'PT Sans Narrow';
	margin-left:10px;
	margin-top:0px;
	text-decoration:none;
}





#contact{
	
	margin-left:500px;
	
	max-width:324px;
	width:500px;
}



#contacticons li{
	float:left;
	margin-right:20px;
	margin-top:10px;
	display:inline-block;
	text-decoration:none;
	
}




#copyright{
	background-image:url(../images/copyright.png);
	width:180px;
	height:12px;
	margin-left:90px;
	position:absolute;
	margin-top:15px;
	background-repeat:no-repeat;
	
	
	
}





	
.clear{
	clear:both;
}

.pinkbackground{display:block;}
	
	